node_modules
dist
out
.DS_Store
.eslintcache
*.log*
__pycache__
.venv
test.py

engine/build
engine/portaudio
engine/pyinstaller_cache
engine/models
engine/notebook
# engine/main.spec

.repomap
.virtualme
